* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.money-container {
  margin-top: 40px;
  margin-left: 10px;
  border-style: groove;
  background-color: aqua;
}

.money {
  margin-right: 10px;
  margin-bottom: 20px;
}

.select-currency {
  margin: 10px;
}

.to {
  margin: 10px;
}
